.category-detail {
    padding: 20px;
  }
  
  .category-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .category-search {
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .sort-buttons {
    display: flex;
    gap: 10px;
  }
  
  .create-post {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .create-post:hover {
    background-color: #0056b3;
  }
  
  .posts-table {
    width: 100%;
    border-collapse: collapse;
  }
  .posts-table td {
    text-align: center;
  }
  .posts-table th, .posts-table td {
    padding: 10px;
    border-bottom: 1px solid #eee;
  }

  .posts {
    text-align: left;
    margin-left: 5px;
  }

  .postsData {
    display: inline-block;
    flex-direction: column;
    justify-content:left ;
    width: fit-content;
    text-align: left;
  }
  
  .sort-buttons button {
    background-color: white;
    color: #3949AB ;
    padding: 10px;
    border: 1px solid #3949AB;
    border-radius: 400px;
    font-weight: bold;
    cursor: pointer;
  }

  .sort-buttons {
    display: inline-block;
  }
