.CurrentChat{
    height: 100%;
    padding: 0px 20px;
    justify-content: flex-end;
    position: relative;
    display: flex;
    flex-direction: column;
}

.preChat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 25px;
    height: 70%;
    position: relative;
}

.preChatContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    text-align: center;
}

.bottomsection{
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    z-index: 10;
    padding: 10px 20px;
    position-anchor: bottom;
}

.bottomsection svg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.bottomsection svg:hover {
    background-color: purple;
    transition: 0.3s ease;
    cursor: pointer;
    filter: brightness(1.5);
}


.bottomsection .messagebar{
    border: 1.5px solid #852FFF;
    align-items: center;
    display: flex;
    padding-left: 10px;
    border-radius: 30px;
    justify-content: space-between;
    width: 80%;
    position: relative;
    background: linear-gradient(90deg, #3949AB 0%, #171D45 100%);
}

.bottomsection .messagebar input {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 20px;
    color: white;
    width: 100%;
    padding-left: 20px;
    
}

@media screen and (max-width: 768px) {
    .CurrentChat {
        padding: 0px 10px;
    }

    .ButtonsDiv {
        gap: 2%;
    }

    .ButtonsDiv button {
        padding: 10px 10px;
        font-size: 15px;
        width: 150px;
    }

    .preChatContent {
        width: 80%;
    }

    .bottomsection .messagebar {
        padding: 10px;
    }

    .bottomsection .messagebar input {
        font-size: 15px;
        
    }
    .chatContainer {
        padding: 10px;
    }
    
    .userMessage, .botMessage {
        max-width: 90%; 
    }
}


.chatContainer {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 15px; 
    margin-bottom: 10px;
    
  }
  
.userMessage, .botMessage {
    display: flex;
    align-items: flex-end;
    padding: 10px 15px;
    border-radius: 15px;
    max-width: 70%;
    word-wrap: break-word;
    word-break: break-word;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
    font-size: 20px;

}
  
.userMessage {
    align-self: flex-end; 
    background-color: #852fff; 
    color: white;
    border-radius: 15px 15px 0px 15px;
}
  
.botMessage {
    align-self: flex-start; 
    background-color: #e0e0e0;
    color: black;
    border-radius: 15px 15px 15px 0px;
}
  
.userMessage img, .botMessage img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}
  
 
.chatContainer::-webkit-scrollbar {
    width: 8px;
}
  
.chatContainer::-webkit-scrollbar-track {
background: #333;
}

.chatContainer::-webkit-scrollbar-thumb {
background: #888;
border-radius: 10px;
}
  
.chatContainer::-webkit-scrollbar-thumb:hover {
background: #555;
}

