.CurrentChat{
    height: 100%;
    padding: 0px 20px;
    justify-content: space-between;
    position: relative;
    
}



.preChat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 25px;
    height: 70%;
    position: relative;
}

.preChatContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    text-align: center;
}

.bottomsection{
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    z-index: 10;
    

}

.bottomsection svg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.bottomsection svg:hover {
    background-color: purple;
    transition: 0.3s ease;
    cursor: pointer;
    filter: brightness(1.5);
}


.bottomsection .messagebar{
    border: 1.5px solid #852FFF;
    align-items: center;
    display: flex;
    padding-left: 10px;
    border-radius: 30px;
    justify-content: space-between;
    width: 80%;
    background: linear-gradient(90deg, #3949AB 0%, #171D45 100%);
}

.bottomsection .messagebar input {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 20px;
    color: white;
    width: 100%;
    padding-left: 20px;
}

@media screen and (max-width: 768px) {
    .CurrentChat {
        padding: 0px 10px;
    }

    .ButtonsDiv {
        gap: 2%;
    }

    .ButtonsDiv button {
        padding: 10px 10px;
        font-size: 15px;
        width: 150px;
    }

    .preChatContent {
        width: 80%;
    }

    .bottomsection .messagebar {
        padding: 10px;
    }

    .bottomsection .messagebar input {
        font-size: 15px;
        
    }
}