.GetStartedHeader {
    padding: 0.625rem 0;
    background-color: #3949ab; 
}

.container {
    margin-right: auto;
    width: 100%;
    
}

.containerItems {
    display: flex;
    flex-direction: row;
    justify-content: flex-start ; 
    padding-left: 40px;
} 

h3 {
    font-size: 28px;
    font-weight: 700;
    text-transform: capitalize;
    color: white;
    margin: 0;
    padding: 20px 0 0 10px;
}

img {
    object-fit: contain;
    height: 70px; 
} 
