.OldChats {
    background: linear-gradient(149.88deg, #3949AB 37.22%, #251043 72.54%, #38126D 97.89%, #261045 109.94%, rgba(25, 6, 52, 0.8) 124.05%);
    border-top: 2.67px solid #4F228D;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.allChats {
    height: 80%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    padding: 5px;
    
}

.txt {
    color: white;
    font-size: 20px;
}

.chat {
    height: 70%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding: 5px;
    
}

.chat:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.back {
    width: fit-content;
    height: fit-content;
    border-radius: 50%;
    background: none;
    border: none;

}

.back img {
    width: 42px;
    height: 42px;
}

.back img:hover{
    filter: brightness(0.1);
    cursor: pointer;
}

.backButton {
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
}